.createReceipt {
display: none;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-end;
width: 100%;
max-width: 750px;
margin: 0 auto;
background: #f9f9f9;
}

.createReceipt.showForm {
display: flex;
}

.createReceipt .formCell {
display: flex;
flex-direction: column;
flex: 1;
padding: 10px;
}

.createReceipt .formCell label {
font-size: 16px;
}

.createReceipt .formCell input {
width: 100%;
}
