header {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
width: 100%;
max-width: 750px;
padding: 5px;
margin: 0 auto;
background: #f5f5f5;
}

header div {
width: 75px;
}

header div.header-buttn {
text-align: center;
}

header div.header-title {
width: auto;
}

header div.header-title h1 {
font-size: 20px;
}

header div.header-total {
text-align: center;
}

header div.header-total .price-total {
color: #009900;
font-weight: bold;
}
